# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: aff20807aef862a396f485a19fb7c22755e6770e815fe6c1afcfd5df3ee5bb49d6c04db5a1464fc71304523d713082f157d39aa5d667fd6f142c986b70ff94ec

test:
  secret_key_base: 224569e14c296eefa3905d4f454d0f71baafe10ad7ddd9c9e9e807d847a97948d7e3caf056aaa2254ce010e02b2c55821d0d12141236e1980cf8b4a5c0fb38d2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
